*,*:before, *:after{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  font-family: Arial, "Helvetica heve", Helvetica, sans-serif;
}

body {
  background: url(bgc.svg);
  background-attachment: fixed;
}

.wrapper{

}

.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 0px 10px;
}

.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

.header:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 2;
}

.header_body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header_logo{
  flex: 0 0 60px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header_logo img{
  max-width: 100%;
  display: block;
}
/* Для удаления подрезания картинки (displey: block;) */

.header_burger{
  display: none;
}

.header_menu{}

.header_list{
  display: flex;
  position: relative;
  z-index: 2;
}

.header_list li{
  list-style: none;
  margin-left: 20px;
}

.header_list li:hover {
  text-decoration: underline;
}

.header_list li:active {
  font-size: 21px;
  line-height: 21px;
}

.header_link{
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
}


@media (max-width:767px) {
  body.lock {
    overflow: hidden;
  }

  .header_body {
    height: 50px;
  }

  .header_logo {
    flex: 0 0 40px;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }

  .header_burger span{
    position: absolute;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before,
  .header_burger:after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  .header_burger.active span{
    transform: scale(0);
  }

  .header_burger.active:before{
    transform:rotate(45deg);
    top: 9px;
  }

  .header_burger.active:after{
    transform:rotate(-45deg);
    bottom: 9px;
  }

  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transition: all 0.3s ease 0s;
    background-color: grey;
    padding: 70px 10px 20px 10px;
  }

  .header_menu.active{
    top: 0;
  }

  .header_list {
    display: block;
    text-align: right;
  }

  .header_list li {
    margin: 0px 0px 20px 0px;
  }

  .header_link {
    font-size: 26px;
  }
}


@media (max-width:1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width:992px) {
  .container {
    max-width: 700px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: none;
  }
}

.sale {
  min-height: 300px;
  background-color: #FF0000;
  margin-top: 100px;
}

@media (max-width:767px) {
  .sale {
    margin-top: 70px;
  }
}

.items {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
}

@media (max-width:992px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width:767px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.item {
  background-color: #FF4500;
  min-height: 200px;
  max-height: 200px;
  display: flex;
  overflow: visible;
}

@media (max-width:992px) {
  .itemimg img {
    width: 100%;
    height: 125%;
    margin-left: auto;
  }
}

@media (max-width:767px) {
  .itemimg img {
    width: 100%;
    height: 125%;
    margin-left: auto;
  }
}

#itemimg {
  width: 100%;
  height: 200px;
}

.iteminfo {
  width: 60%;
  text-align: center;
  background-color: #FF00FF;
  display: table;
  display: block;
}
.piteminfo {
  font-size: 22px;
  text-shadow: 1px;
}

.item-text {
  background-color: yellow;
  height: 160px;
  display: table-cell;
  vertical-align: middle;
  overflow: auto;
}

.item-text h6{
  font-style: bold;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.item-price {
  background-color: grey;
  width: 100%;
  display: flex;
  height: 40px;
}

.buy-button {
  width: 40%;
}

.buy-button button {
  background-color: lightblue;
  width: 100%;
  height: 100%;
  font-size: 37px;
  line-height: 38px;
  font-style: bold;
  border: 1px solid black;
}

.buy-button button:hover {
  background-color: blue;
}

.buy-button button:active {
  color: white;
}

.price {
  text-align: center;
  line-height: 38px;
  font-size: 38px;
  background-color: #6A5ACD;
  width: 60%;
}

.itemimg {
  width: 40%;
  height: 200px;
}

.itemimg img {
  transition: all 1s ease-out;
-moz-transition: all 1s ease-out;
-o-transition: all 1s ease-out;
-webkit-transition: all 1s ease-out;
}

.itemimg img:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.benefits {
  background-color: #CD5C5C;
  min-height: 250px;
  margin-top: 15px;
}

.map-mail {
  background-color: #0000FF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px 15px 15px 15px;
  min-height: 400px;
  margin-top: 15px;
}

@media (max-width:992px) {
  .map-mail {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width:767px) {
  .map-mail {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.map {
  background-color: #008080;
  min-height: 180px;
}

.mail {
  background-color: #00FFFF;
  min-height: 180px;
}

.reviews {
  background-color: #556B2F;
  min-height: 400px;
  margin-top: 15px;
}

.footer {
  margin-top: 15px;
  background-color: black;
  min-height: 200px;
  display: flex;
}

.foot_info {
  background-color: grey;
  width: 30%;
  margin: 10px 20px 10px 20px;
}
