b {
  font-size: 26px;
}

div {

}

* {
  padding: 0;
  margin: 0;
}

body {
  background-attachment: fixed;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  margin: 0, 15px;
}

@media (max-width:1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width:992px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width:767px) {
  .container {
    max-width: none;
  }
}

.head {
  background-color: #CD5C5C;
  min-height: 100px;
  max-height: 100px;
}

.nav {
  background-color: #7FFF00;
  position: sticky;
  top: 0;
  min-height: 50px;
}

.sale {
  min-height: 300px;
  background-color: #FF0000;
  margin-top: 15px;
}

.items {
  background-color: #00FA9A;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px 20px 20px 20px;

}

@media (max-width:992px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media (max-width:767px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.item {
  background-color: #FF4500;
  min-height: 200px;
  max-height: 200px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 160px 40px;
}

.itemimg {
  grid-column: 2;
  grid-row: 1/2;
  max-height: 200px;
}

#itemimg {
  max-width: 200px;
}

.iteminfo {
  background-color: #FF00FF;
  grid-column: 1;
  grid-row: 1;
}

.price {
  background-color: #6A5ACD;
  grid-column: 1;
  grid-row: 2;
}

.benefits {
  background-color: #CD5C5C;
  min-height: 400px;
  margin-top: 15px;
}

.map-mail {
  background-color: #0000FF;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  padding: 15px 15px 15px 15px;
  min-height: 400px;
  margin-top: 15px;
}

@media (max-width:992px) {
  .map-mail {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width:767px) {
  .map-mail {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.map {
  background-color: #008080;
  min-height: 180px;
}

.mail {
  background-color: #00FFFF;
  min-height: 180px;
}

.reviews {
  background-color: #556B2F;
  min-height: 400px;
  margin-top: 15px;
}

.footer {
  margin-top: 15px;
  background-color: #FF00FF;
  min-height: 200px;
}
